/* || Typography */
/* Regular Font */
@font-face {
  font-family: 'aller';
  src: url('/assets/fonts/aller/aller_rg-webfont.woff2') format('woff2'),
       url('/assets/fonts/aller/aller_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Bold Font */
@font-face {
  font-family: 'aller';
  src: url('/assets/fonts/aller/aller_bd-webfont.woff2') format('woff2'),
       url('/assets/fonts/aller/aller_bd-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Italic Font */
@font-face {
  font-family: 'aller';
  src: url('/assets/fonts/aller/aller_it-webfont.woff2') format('woff2'),
       url('/assets/fonts/aller/aller_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* || General Styles */
:root {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: 'aller', Verdana, sans-serif;

  /* CSS Variables */
  --text-color: hsla(0, 0%, 82%, 1);
  --body-color: hsla(0, 1%, 11%, 1);
  --header-color: hsla(0, 0%, 17%, 1);
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--body-color);
}

img {
  /* Display & Box Model */
  max-width: 100%;
}

header {
  /* Display & Box Model */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;

  /* Other */
  background-color: var(--header-color);
  box-shadow: 0 10px 10px -9px hsla(0, 0%, 0%, 0.4);
  /* box-shadow: 0 0 20px 0; */
}

a {
  text-decoration: none;
}

.mainNav {
  /* Display & Box Model */
  position: relative;
}

.mainNav > ul {
  /* Display & Box Model */
  display: none;
}

.hamburger {
  /* Display & Box Model */
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
}

.hamburger > div {
  /* Display & Box Model */
  margin: 3px 0;
  width: 20px;
  height: 2px;

  /* Other */
  background-color: white;
}

main {
  /* Display & Box Model */
  margin: 8rem auto; /* Prevents fixed header overlay */
  width: 90%;

  /* Other */
  font-size: 1.4rem;
}

h1 {
  letter-spacing: -0.1rem;
  text-shadow: 0px 0px 2px var(--text-color);
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
}

h1:hover {
  letter-spacing: -0.3rem;
  /* transition-property: letter-spacing;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1); */
  transition: letter-spacing 500ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
  cursor: default;
}

main > div,
main > p {
  margin-top: 3rem;
}

main p {
  letter-spacing: .05rem;
  line-height: 2;
  color: var(--text-color);
}

main a {
  text-decoration: none;
  border-bottom: 2px solid hsl(0, 0%, 90%);
  padding-bottom: 2px;
  font-weight: bolder;
}

a:link {
  color: hsl(0, 0%, 90%);
}

a:visited {
  color: hsl(0, 0%, 90%);
}

main a:hover {
  color: white;
  border-bottom: 2px solid white;
}

a:active {
  color: red;
}

/* || Utilities */
.debugging {
  /* Display & Box Model */
  border: 1px solid red;
}

.flex {
  /* Display & Box Model */
  display: flex;
}

.noBullets {
  /* Other */
  list-style-type: none;
}

/* || Footer */
footer {
  background-color: var(--header-color);
  padding: 3rem;
}

footer a:link,
footer a:visited {
  border-bottom: none;
  color: hsl(212, 27%, 75%);
}

footer ul {
  display: flex;
  justify-content: space-around;
}

/* || Tablet Styles */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  main {
    font-size: 1.6rem;
  }

  footer {
    font-size: 1.3rem;
  }

  footer a:hover {
    color: hsl(212, 27%, 55%);
  }

  /* || Desktop Styles */
  @media only screen and (min-width: 960px) {
    header {
      display: flex;
      height: 50px;
    }

    .mainNav {
      width: 100%;
      font-size: 1.6rem;
    }

    .mainNav ul {
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .mainNav a:hover {
      color: var(--text-color);
    }

    .hamburger {
      display: none;
    }

    main {
      max-width: 960px;
      font-size: 1.8rem;
    }

    main > div,
    main > p {
      margin-top: 5rem;
    }

    footer a {
      font-size: 1.45rem;
    }
  }
}